body{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    gap: 70px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
p{
    width: 70vw;
    color: rgb(243, 10, 239);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
h1{
    color: #e0044a;
    font-size: 50px;
}