
      body {
        margin: 0%;
        padding: 0%;
        overflow: hidden;
      }
      #main {
        background-color: aliceblue;
        display: flex;
        height: 100vh;
        width: 100svw;
      }
      #asidebar {
        background-color: black;
        color: white;
        height: 100%;
        width: 15%;
        border: 20px;
      }
      #asidenavlist {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        list-style: none;
        font-size: 25px;
      }
      #asidenavlist>li{
        height: 30px;
        width: 80%;
        color: white;
        background-color: black;
        padding-left: 10px;
        cursor: pointer;
      }
      #asidenavlist > li > a {
        text-decoration: none;
        color: aliceblue;
      }

      #mainsection {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 85%;
        overflow: hidden;
      }
      #mainsectionbanner {
        width: 100%;
        height: 15%;
        background-color: rgb(225, 225, 248);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px grey;
      }
      #mainsectionbanner > h1 {
        margin-left: 20px;
        font-size: 40px;
        text-transform: capitalize;
      }
      #mainsectionbanner div{
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px;
      }
      #mainsectionbanner img{
        height: 70px;
        width: 70px;
        border: 5px solid blue;
        padding: 5px;
        border-radius: 50%;
        /* border: 1px solid black; */
        object-fit: cover;
        
        
      }

      #mainsectionbanner #searchbar {
        height: 40px;
        width: 260px;
        margin-right: 30px;
        border-radius: 5px;
        font-size: large;
        color: blue;
      }
      .card {
        margin: 30px;
        height: 350px;
        width: 350px;
        background-color: rgb(216, 204, 228);
        box-shadow: 5px 5px 10px grey;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: larger;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
      .card2{
        color: purple;
        font-family: cursive;
        font-size: 30px;
      }
      .card>img{
        margin-top: 10px;
        height: 50%;
        width: 50%;
        border-radius: 50%;
      }
      #cardcontainer {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        box-sizing: border-box;
        margin-left: 20px;
        height: 85%;
        width: 100%;
        gap: 20px;
        margin-top: 30px;
      }

      .card3{
        
        height: 500px;
        width: 300px;
        background-color: rgb(216, 204, 228);
        box-shadow: 5px 5px 10px grey;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: larger;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        box-sizing: border-box;
        padding: 20px;
      }
      .card3>img{
        border-radius: 20px;
        height:200px ;
        width: 200px;
      }
      .card3>h2{
        font-size:medium;
        color: blueviolet;
      }
    .card3>p{
      height: 30%;
      width: 100%;
      overflow: hidden;
      font-size: 10px;
    }
  
    .card3>div>button{
      background-color: rgb(76, 13, 213);
      height: 40px;
      width: 90px;
         box-shadow: 5px 5px 10px rgb(74, 15, 137);
         border: 0px;
         border-radius: 10px;

    }
    .card3>div>button:hover{
      background-color: blueviolet;
      box-shadow: 5px 5px 10px violet;
    }
    .card4{
      margin-left: 10%;
      height: 80%;
      width: 80%;
      background-color: rgb(216, 204, 228);
      box-shadow: 5px 5px 10px grey;
      border-radius: 20px;
    }

    /* active link animation */
    #asidenavlist li.active {
      background: rgb(240, 239, 235);
      color: black;
    
     font-weight: bold;
     transition: background 0.2s, color 0.2s;
}